<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="/assets/image/profile.jpg" >
  </figure>
  <form>
    <ion-item [formGroup]="loginForm">
      <ion-label>Email</ion-label>
      <ion-input ></ion-input>
        <ion-input label="Email" labelPlacement="floating" placeholder="Correo electronico" formControlName="email"></ion-input>
    </ion-item>
    <ion-button
    type="Submit">
      login
    </ion-button>
  </form>
</ion-content>
