swiper-container{
  width: 80%;
  height: 80%;
}

swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cool-title{
  color: rgb(35, 7, 158);
}

.cool-title1{

  color: chartreuse;

}

.custom-bg-color{
  --background: rgb(0, 5, 5);
}

.sp-bg-color{

  background-color: blueviolet;
}

ion-avatar {
  --border-radius: 0px;
}