<ion-content class="custom-bg-color">

  <swiper-container class="sp-bg-color">

    <swiper-slide>
      <h2>Titulo de slide 1</h2>
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/music-logo%2C-guitar-logo%2C-music-3d-gold-logo-design-template-2251cca626acda3bea3ce36dbd68b3d2_screen.jpg?ts=1678649321">
      <p>Hola soy un parafo del slide 1</p>
    </swiper-slide>

    <swiper-slide>
      <h2>Titulo del slide 2</h2>
      <img src="https://previews.123rf.com/images/butenkow/butenkow1603/butenkow160300622/54523736-resumen-logotipo-para-la-m%C3%BAsica-y-el-sonido-modelo-del-vector.jpg">
      <p>Hola soy el parrafo del slide 2</p>
    </swiper-slide>

    <swiper-slide>
      <h2 class="cool-title">Titulo del slide 3</h2>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <p>hola soy el parrafo del slide 3</p>
    </swiper-slide>

    <swiper-slide>
      <h2 class="cool-title1">Titulo del slide 4</h2>
      <img src="https://img3.stockfresh.com/files/b/butenkow/m/97/7010299_stock-vector-vector-logo-music.jpg">
      <p>hola soy el parrafo del slide 4</p>
    </swiper-slide>

  </swiper-container>

</ion-content>
